# Loading Data into Pandas Dataframe

In [29]:
import numpy as np
import pandas as pd

In [30]:
# Flights from Austin,TX data set
flights = pd.read_csv("/Users/dylanlam/Documents/GitHub/data_science_practice_and_skills/datasets/flights_fromAus.csv") 
# Preview the first 5 lines of the loaded data 
flights
# or use the head() operation to print out the first 5 lines

# You can access a large dataset that includes all flights in USA here 
# https://s3.amazonaws.com/utcs378/flights.csv.bz2

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,OO,4986,N719SK,AUS,LAX,538,...,654.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,1178,N573AA,AUS,DFW,550,...,649.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,B6,794,N519JB,AUS,JFK,600,...,1013.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,OO,6235,N114SY,AUS,SFO,600,...,753.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,UA,572,N404UA,AUS,IAH,630,...,751.0,20.0,0,0,NaN,0.0,0.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42062,2015,12,31,4,WN,5548,N790SW,AUS,BNA,1935,...,2115.0,-15.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42063,2015,12,31,4,AA,1187,N005AA,AUS,LAX,2005,...,2212.0,44.0,0,0,NaN,44.0,0.0,0.0,0.0,0.0
42064,2015,12,31,4,WN,433,N8602F,AUS,SAN,2035,...,2142.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42065,2015,12,31,4,WN,2125,N7747C,AUS,HOU,2055,...,2133.0,-17.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
42066,2015,12,31,4,F9,1137,N918FR,AUS,LAS,2115,...,2202.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
type(flights)
# dir(flights)

pandas.core.frame.DataFrame

In [32]:
# Use the info() operation to print out the Schema of the dataframe
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42067 entries, 0 to 42066
Data columns (total 31 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   YEAR                 42067 non-null  int64
 1   MONTH                42067 non-null  int64
 2   DAY                  42067 non-null  int64
 3   DAY_OF_WEEK          42067 non-null  int64
 4   AIRLINE              42067 non-null  object
 5   FLIGHT_NUMBER        42067 non-null  int64
 6   TAIL_NUMBER          41993 non-null  object
 7   ORIGIN_AIRPORT       42067 non-null  object
 8   DESTINATION_AIRPORT  42067 non-null  object
 9   SCHEDULED_DEPARTURE  42067 non-null  int64
 10  DEPARTURE_TIME       41507 non-null  float64
 11  DEPARTURE_DELAY      41507 non-null  float64
 12  TAXI_OUT             41494 non-null  float64
 13  WHEELS_OFF           41494 non-null  float64
 14  SCHEDULED_TIME       42067 non-null  float64
 15  ELAPSED_TIME         41392 non-null  float64
 16  AIR_TIME             41392 non-null  float64
 17  DISTANCE             42067 non-null  int64
 18  WHEELS_ON            41469 non-null  float64
 19  TAXI_IN              41469 non-null  float64
 20  SCHEDULED_ARRIVAL    42067 non-null  int64
 21  ARRIVAL_TIME         41469 non-null  float64
 22  ARRIVAL_DELAY        41392 non-null  float64
 23  DIVERTED             42067 non-null  int64
 24  CANCELLED            42067 non-null  int64
 25  CANCELLATION_REASON  578 non-null    object
 26  AIR_SYSTEM_DELAY     7153 non-null   float64
 27  SECURITY_DELAY       7153 non-null   float64
 28  AIRLINE_DELAY        7153 non-null   float64
 29  LATE_AIRCRAFT_DELAY  7153 non-null   float64
 30  WEATHER_DELAY        7153 non-null   float64
dtypes: float64(16), int64(10), object(5)
memory usage: 9.9+ MB

# Question 1 - Find a list of Origin Airports
The dataset includes all flights departering from Austin,TX. In this question, we want to find out all airports in Austin area.

In [33]:
origin_airports = flights['ORIGIN_AIRPORT'].unique()
print(origin_airports)

['AUS']

In [34]:
# Check what is the type of it
type(origin_airports)

numpy.ndarray

# Question 2 - Find a list of all (Origin, Destination) pairs that represent a route between Austin and other cities. 
This question asks to retrieve all direct connections from Austin.

In [35]:
origin_destinations = flights[['ORIGIN_AIRPORT','DESTINATION_AIRPORT']].drop_duplicates()
origin_destinations
# type(origin_destinations)

      ORIGIN_AIRPORT DESTINATION_AIRPORT
0                AUS                 LAX
1                AUS                 DFW
2                AUS                 JFK
3                AUS                 SFO
4                AUS                 IAH
5                AUS                 ATL
8                AUS                 BWI
9                AUS                 LGB
12               AUS                 DEN
13               AUS                 PHL
14               AUS                 LAS
18               AUS                 DAL
22               AUS                 PHX
28               AUS                 HOU
29               AUS                 SAN
30               AUS                 ORD
33               AUS                 EWR
34               AUS                 MDW
35               AUS                 FLL
38               AUS                 MCO
40               AUS                 HRL
42               AUS                 DCA
45               AUS                 MSY
49               AUS                 CLT
53               AUS                 SLC
55               AUS                 ELP
60               AUS                 TPA
69               AUS                 BNA
71               AUS                 LBB
76               AUS                 OAK
83               AUS                 SEA
86               AUS                 BOS
88               AUS                 SJC
122              AUS                 DTW
1934             AUS                 MSP
6899             AUS                 MIA
11045            AUS                 IAD
21544            AUS                 SNA
21593            AUS                 STL
21641            AUS                 PDX
38791            AUS                 MEM

In [36]:
# We can also print out all destinations that one can reach with a direct flight from Austin.
print(origin_destinations['DESTINATION_AIRPORT'].unique())

['LAX' 'DFW' 'JFK' 'SFO' 'IAH' 'ATL' 'BWI' 'LGB' 'DEN' 'PHL' 'LAS' 'DAL'
 'PHX' 'HOU' 'SAN' 'ORD' 'EWR' 'MDW' 'FLL' 'MCO' 'HRL' 'DCA' 'MSY' 'CLT'
 'SLC' 'ELP' 'TPA' 'BNA' 'LBB' 'OAK' 'SEA' 'BOS' 'SJC' 'DTW' 'MSP' 'MIA'
 'IAD' 'SNA' 'STL' 'PDX' 'MEM']

In [37]:
flights_in_jan=flights[flights['MONTH']==1]

flights_in_jan

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,OO,4986,N719SK,AUS,LAX,538,...,654.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,1178,N573AA,AUS,DFW,550,...,649.0,-1.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,B6,794,N519JB,AUS,JFK,600,...,1013.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,OO,6235,N114SY,AUS,SFO,600,...,753.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,UA,572,N404UA,AUS,IAH,630,...,751.0,20.0,0,0,NaN,0.0,0.0,20.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3371,2015,1,31,6,B6,1038,N216JB,AUS,BOS,1845,...,2316.0,-3.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3372,2015,1,31,6,WN,3778,N528SW,AUS,DAL,1855,...,1937.0,-13.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3373,2015,1,31,6,WN,4158,N7705A,AUS,BWI,1900,...,2240.0,-20.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3374,2015,1,31,6,WN,3089,N290WN,AUS,EWR,1900,...,2311.0,-19.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3375,2015,1,31,6,F9,221,N949FR,AUS,DEN,1932,...,2016.0,-29.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

# Question 3 - Find the Origin airport that had the largest departure delay in the month of January

In [38]:
flights_in_jan=flights[flights['MONTH']==1]

max_delay_flight=flights_in_jan[flights_in_jan['DEPARTURE_DELAY'] >= flights_in_jan['DEPARTURE_DELAY'].max()]

print(max_delay_flight['ORIGIN_AIRPORT'])

1116    AUS
Name: ORIGIN_AIRPORT, dtype: object

# Question 4 - Find out which carrier has the largest delay on Weekends.

In [39]:

# Filter out the flights that are on days of week 6 or 7
flights_on_weekends = flights[flights['DAY_OF_WEEK'].isin([6,7])]

flight_on_weekend_with_largest_delay=flights_on_weekends.nlargest(1,['DEPARTURE_DELAY'])

print(flight_on_weekend_with_largest_delay[['DEPARTURE_DELAY', 'AIRLINE', 'FLIGHT_NUMBER']])


flight_on_weekend_with_largest_delay['AIRLINE']

# AA has also the highest number of flights maybe. 
# It is better to calculate the ratios. Next task

      DEPARTURE_DELAY AIRLINE  FLIGHT_NUMBER
1116           1450.0      AA           1595

1116    AA
Name: AIRLINE, dtype: object

# Question 5 -  Which destination airport has the most cancellation of flights?

In [40]:
# First, we get all flights that are canceled 
cancelled_flights = flights[flights['CANCELLED']==1]
# print(cancelled_flights)

# There are many different ways that we can do this. 
# One of the most simple ways is the following: 
# Use Pandas Series and function value_counts()
destinations = cancelled_flights['DESTINATION_AIRPORT'].value_counts()

print(destinations)

print("\n\nThe largest cancelation is for the following Destition: ", destinations.nlargest(1))

# flights['DESTINATION_AIRPORT'].value_counts()

DESTINATION_AIRPORT
DFW    136
DAL     81
ORD     61
IAH     34
JFK     31
LAX     30
HOU     23
EWR     17
DEN     17
MDW     15
ATL     13
SFO     13
BNA     12
BWI     11
PHX      9
LAS      8
LBB      8
ELP      8
BOS      7
PHL      5
MSY      5
MCO      4
SLC      4
CLT      4
DCA      4
SJC      3
HRL      3
FLL      2
DTW      2
SEA      2
OAK      2
LGB      1
TPA      1
IAD      1
MIA      1
Name: count, dtype: int64


The largest cancelation is for the following Destition:  DESTINATION_AIRPORT
DFW    136
Name: count, dtype: int64

# Question 5.1: Which destination airport has the most cancellation of flights in relation to number of flights to that destination. Which destination has the highest cancalation ratio? 
The question 5 answer is the DAL airpot, but from Austin we have the most flights to Dallas. 

In this question, we want to find out the cancalation rate which is the rates of cancaled flights divided by number of flights to that destination.

# Question 6 - Which airline carrier has the highest flight cancelation ratio?

In [41]:
flights_count=flights['AIRLINE'].to_frame()
type(flights_count)
ones=np.ones(len(flights_count))
flights_count['Count']=ones

# Use groupby and sum to count values 
sum_for_each_airline = flights_count.groupby(['AIRLINE']).sum()
# print(sum_for_each_airline)


# now, we get all of the cancelled flights 
cancelled_flights=(flights[flights['CANCELLED']==1])
cancelled_flights_counts=cancelled_flights['AIRLINE'].to_frame()

ones=np.ones(len(cancelled_flights_counts))
cancelled_flights_counts['Count']=ones


sum_for_each_airline_cancelled = cancelled_flights_counts.groupby(['AIRLINE']).sum()

print(sum_for_each_airline_cancelled)

# Join the two datasets on Airline key 
joined_df=sum_for_each_airline_cancelled.join(sum_for_each_airline, on='AIRLINE', 
                                              how='left', lsuffix='_left', rsuffix='_right')

print(joined_df)


joined_df['rates']=joined_df['Count_left']/joined_df['Count_right']

# Reset the index to access the column "AIRLINE"
joined_df.reset_index(level=0, inplace=True)

print(joined_df)


result=joined_df.drop(['Count_left','Count_right'],  axis=1)
result

result[result['rates'] >= result['rates'].max()]

         Count
AIRLINE
AA       210.0
B6        25.0
DL        10.0
EV         5.0
F9         2.0
OO        50.0
UA        47.0
US         9.0
VX        28.0
WN       192.0
         Count_left  Count_right
AIRLINE
AA            210.0       8044.0
B6             25.0       2208.0
DL             10.0       3449.0
EV              5.0        328.0
F9              2.0       1210.0
OO             50.0       2910.0
UA             47.0       4278.0
US              9.0        469.0
VX             28.0       1399.0
WN            192.0      17372.0
  AIRLINE  Count_left  Count_right     rates
0      AA       210.0       8044.0  0.026106
1      B6        25.0       2208.0  0.011322
2      DL        10.0       3449.0  0.002899
3      EV         5.0        328.0  0.015244
4      F9         2.0       1210.0  0.001653
5      OO        50.0       2910.0  0.017182
6      UA        47.0       4278.0  0.010986
7      US         9.0        469.0  0.019190
8      VX        28.0       1399.0  0.020014
9      WN       192.0      17372.0  0.011052

  AIRLINE     rates
0      AA  0.026106

In [42]:
# Another way was to use value_counts()

flights_count=flights['AIRLINE'].value_counts()
# print(flights_count)

cancelled_flights=(flights[flights['CANCELLED']==1])
cancelled_flights_counts=cancelled_flights['AIRLINE'].value_counts()
# print(cancelled_flights_counts)

# Question 7 - Find the largest departure delay for each carrier

In [43]:
# Do it yourself

# Question 8 - Find the largest departure delay for each carrier in each month

In [44]:
# Do it yourself

# Question 9 - For each carrier find the average Departure delay for each month

In [45]:
# Do it yourself

# Question 10 - Which day has the highest cancelation of flights?

In [46]:
# Do it yourself

# Question 11 - For each Airline which day has the highest cancelation of flights?

In [47]:
# Do it yourself

# Use the Airpot Dataset and define your own questions.

In [48]:
airports = pd.read_csv("datasets/airline/airports.csv") 

airports

FileNotFoundError: [Errno 2] No such file or directory: 'datasets/airline/airports.csv'

# Question 12 : Which Destination City has the highst cancelation City? 
Houston?

# Question 13 : Which Destination State has the highst departure delay on Weekends?

# Question 14: Define your own Question